@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');
:root {
    --fontDela: 'Dela Gothic One', cursive;
    --fontMont: 'Montserrat', sans-serif;
    --green: #2B788B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}
.container {
    max-width: 375px;
    margin: auto;
}
// header nav css start
header {
    background-color: #F6F5F4;
    box-shadow: inset 0px -1px 0px #E0E0E0;
    nav {
        padding: 18px 20px;
        display: flex;
        justify-content: space-between;
        .nav {
            &__left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 0.6;
                &--logo {
                    font: normal 400 16px var(--fontDela);
                    line-height: 100%;
                    text-align: right;
                    letter-spacing: -0.02em;
                    color: #000;
                }
                &--menu {
                    display: none;
                }
            }
            &__right {
                &--profile {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    font: normal 700 12px var(--fontMont);                        ;
                    letter-spacing: -0.04em;
                    line-height: 140%;
                    color: var(--green);
                    cursor: pointer;
                    
                    .profile {
                        &__logo{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 9px 14px;
                            gap: 14px;
                            width: 32px;
                            height: 32px;
                            background: #C3DCE3;
                            border-radius: 50%;
                        }
                        &__username{
                            font-weight: 600;
                            color: #757575;
                        }
                    }
                }
                &--sout{
                    display: none;
                }
            }
        }
    }
}

//section1 css start 

.sec1 {
    background-color: #F6F5F4;
    .row {
        padding: 40px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        .texts {
            &__up{
                span {
                    font: normal 700 12px var(--fontMont);
                    letter-spacing: 0.14em;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: var(--green);
                }
                h1 {
                    font: normal 400 32px var(--fontDela);
                    letter-spacing: -0.04em;
                    line-height: 100%;
                    color: #000;
                    margin: 8px 0 12px;
                }
                p {
                    font: normal 600 14px var(--fontMont);
                    line-height: 140%;
                    letter-spacing: -0.04em;
                    color: #757575;
                }
            }
            &__down{
                &--btn{
                    display: inline-block;
                    padding: 12px 20px;
                    margin: 20px 0;
                    width: 146px;
                    height: 38px;
                    background: #C3DCE3;
                    border-radius: 100px;
                    font: normal 700 14px var(--fontMont);
                    line-height: 100%;
                    letter-spacing: -0.04em;
                    color: var(--green);
                }
                .stats{
                    display: flex;
                    justify-content: center;
                    gap: 40px;
                    &__words, &__games{
                        h2{
                            font: normal 400 20px var(--fontDela);
                            line-height: 100%;
                            letter-spacing: -0.02em;
                            color: #000;
                        }
                        span {
                            color: var(--green)
                        }
                        div{ 
                            font: normal 600 12px var(--fontMont);
                            line-height: 140%;
                            letter-spacing: -0.04em;
                            color: #585858;
                            margin-top: 3px;
                        }
                    }
                    .line {   
                        height: 32px;
                        border: 1px solid #E0E0E0;
                    }
                }
            }
        }
        .img {
            background-image: url('../img/aboutPlatform.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 280px;
            height: 235px;
            margin: 20px auto;
        }
    }
}


@media screen and (min-width: 576px){
    .container{
        max-width: 820px;
    }
    header {
        nav {
            padding: 24px 20px;
            .nav {
                &__left{
                    &--logo{
                        font-size: 21px;
                    }
                }
                &__right{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &--profile{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .sec1 {
        .row {
            display: flex;
            .texts {
                width: 531px;
                margin: 50px auto;
                &__up{
                    span{
                        font-size: 16px; 
                    }
                    h1 {
                        font-size: 46px;
                        margin: 24px 0 30px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                &__down{
                    .stats {
                        h2{
                            font-size: 40px;
                            svg{
                                width: 24px;
                                height: 30px;
                            }
                        }
                        div{
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 1180px;
    }
    header {
        nav {
            .nav {
                &__left{
                    flex-grow: 0;
                    &--burger{
                        display: none;
                    }
                    &--logo{
                        height: 17px;
                        padding-right: 30px;
                        border-right: 1.2px solid #E0E0E0;
                    }
                    &--menu {
                        display: flex;
                        align-items: center;
                        list-style-type: none;
                        li a{
                            font: normal 600 16px var(--fontMont);
                            line-height: 140%;
                            letter-spacing: -0.04em;
                            color: #757575;
                            margin-left: 30px;
                            &.active, &:hover{
                                color: #000;
                            }
                        }
                    }
                }
                &__right{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &--profile{
                        .profile__username svg{
                            display: none;
                        }
                    }
                    &--sout{
                        display: inline;
                        font: normal 700 16px var(--fontMont);
                        line-height: 100%;
                        letter-spacing: -0.04em;
                        color: #000;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    .sec1 {
        .row{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .texts{
                text-align: left;
                &__down{
                    .stats {
                        justify-content: flex-start;
                    }
                }
            }
            .img {
                width: 770px;
                height: 450px;
            }
        }
    }
}